{% extends "base.html" %}

{% block content %}
    <section id="shoppingCart">
        <div class="row my-5">
            <div class="col s12 center">
                <h1 class="title">My cart</h1>
            </div>
        </div>
        <div class="row">

            {% if cart_items %}
                {% for item in cart_items %}
            <form action="{% url 'update_cart' item.item_id %}" method="POST" id="updateCartItem-{{item.item_id}}">
                {% csrf_token %}
            </form>
                {% endfor %}
            {% endif %}

            {% if cart_items %}
            <div class="col s12 xl10 offset-xl1">
                <!-- Product count -->
                <h6 class="right title">{{ product_count }} items</h6>
                <!-- Shopping cart items -->
                <div class="row">
                    <div class="col s12">
                        {% for item in cart_items %}
                            <!-- For smaller screens -->
                            <div class="card-panel hide-on-large-only card-item-card">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col s3 m2">
                                        {% if 'game' in item.product_type  %}
                                            {% if item.product.image %}
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                            {% else %}
                                                <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                            {% endif %}
                                        {% elif 'adoption in item.product_type' %}
                                            {% if item.product.image %}
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                            {% else %}
                                                <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <!-- Name and quantity -->
                                    <div class="col s7">
                                        <div class="row">
                                            <div class="col s12">
                                                <h6 class="title product-name">
                                                    {% if 'game' in item.product_type  %}
                                                        {{ item.product.friendly_name_full }}
                                                    {% elif 'adoption in item.product_type' %}
                                                        {{ item.product.adoption.animal }} {{ item.product.friendly_name }}
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div class="col s12" style="padding: 10px 20px;">
                                                <div class="qty-btn">
                                                    <div class="row">
                                                        <div class="col s3 m1 offset-s1 offset-m1" style="padding-left: 0;">
                                                            <button type="button" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" class="decrement-qty">
                                                                <i class="material-icons white-text">remove</i>
                                                            </button>
                                                        </div>
                                                        <div class="col s3 m2">
                                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.item_id }}" id="id-qty_{{ item.item_id }}" class="qty-val" readonly>
                                                        </div>
                                                        <div class="col s3 m1">
                                                            <button type="button" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" class="increment-qty">
                                                                <i class="material-icons white-text">add</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Remove item -->
                                    <div class="col s2 right">
                                        <a href="#!"><i class="material-icons white-text">delete_forever</i></a>
                                    </div>
                                    <!-- Description -->
                                    <div class="col s12">
                                        <p>{{ item.product.desc|slice:":162" }}...</p>
                                    </div>
                                    <!-- Subtotal -->
                                    <table>
                                        <tr>
                                            <th><span class="title">Subtotal</span></th>
                                            <th class="right"><span class="title">£{{ item.product.price }}</span></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- For larger screens -->
                            <table class="hide-on-med-and-down">
                                <!-- Table header -->
                                <tr class="table-header">
                                    <th class="center" style="width: 35%;"><span class="title">Product</span></th>
                                    <th class="center" style="width: 20%;"><span class="title">Desc</span></th>
                                    <th class="center" style="width: 8%;"><span class="title">Price</span></th>
                                    <th class="center" style="width: 15%;"><span class="title">Quantity</span></th>
                                    <th class="center" style="width: 10%;"><span class="title">Subtotal</span></th>
                                    <th class="center" style="width: 12%;"></th>
                                </tr>
                                {% for item in cart_items %}
                                    <!-- Shopping cart items -->
                                    <tr class="table-cart-item {% if forloop.last %}last{% endif %}">
                                        <!-- Product image and name -->
                                        <td class="th-first">
                                            <div class="row">
                                                <div class="col s3">
                                                    {% if 'game' in item.product_type  %}
                                                        {% if item.product.image %}
                                                            <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                                        {% else %}
                                                            <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                                        {% endif %}
                                                    {% elif 'adoption in item.product_type' %}
                                                        {% if item.product.image %}
                                                            <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                                        {% else %}
                                                            <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="col s9">
                                                    <span class="title">
                                                        {% if 'game' in item.product_type  %}
                                                            {{ item.product.friendly_name_full }}
                                                        {% elif 'adoption in item.product_type' %}
                                                            {{ item.product.adoption.animal }} {{ item.product.friendly_name }}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- Brief product description -->
                                        <td class="center">
                                            <p>{{ item.product.desc|slice:":254" }}...</p>
                                        </td>
                                        <!-- Price -->
                                        <td class="center">
                                            <span class="title">{{ item.product.price }}</span>
                                        </td>
                                        <!-- Quantity -->
                                        <td class="center">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}" form="updateCartItem-{{item.item_id}}">
                                            <input type="hidden" name="product_type" value="{% if 'game' in item.product_type %}game{% else %}adoption{% endif %}"
                                                id="productType_{{ item.item_id }}" form="updateCartItem-{{item.item_id}}">
                                            <div class="qty-btn">
                                                <div class="row">
                                                    <div class="col s3 offset-s2" style="padding-left: 0;">
                                                        <button type="button" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" class="decrement-qty">
                                                            <i class="material-icons white-text">remove</i>
                                                        </button>
                                                    </div>
                                                    <div class="col s3">
                                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}" id="id-qty_{{ item.item_id }}" class="qty-val"
                                                        form="updateCartItem-{{item.item_id}}" readonly>
                                                    </div>
                                                    <div class="col s3">
                                                        <button type="button" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" class="increment-qty">
                                                            <i class="material-icons white-text">add</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Update quantity -->
                                            <div class="col s12">
                                                <button type="submit" class="btn btn-green update-qty" id="updateQty-{{ item.item_id }}"
                                                form="updateCartItem-{{item.item_id}}">Update</button>
                                            </div>
                                        </td>
                                        <!-- Subtotal -->
                                        <td class="center">
                                            <span class="title">£{{ item.subtotal }}</span>
                                        </td>
                                        <!-- Remove item -->
                                        <td class="center th-last">
                                            <a href="#!" class="remove-item-from-cart" id="remove_{{ item.item_id }}"><i class="material-icons white-text">delete_forever</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <!-- Update cart and apply discount -->
                    <div class="col s12 l6">
                        <div class="row">
                            <!-- Apply discount -->
                            <div class="col s12">
                                <div class="card-panel">
                                    <h6 class="title">Discount code</h6>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <input type="text" name="discount" id="discount">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center">
                                            <a href="#!" class="btn discount-btn btn-cyan-solid">Apply discount</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider my-5 hide-on-large-only"></div>
                    </div>
                    <!-- Checkout and order total -->
                    <div class="col s12 l6">
                        <div class="card-panel order-summary">
                            <!-- Order total -->
                            <table>
                                <tr class="hide">
                                    <th><span class="title">Discount</span></th>
                                    <th class="right"><span class="title"> -£0</span></th>
                                </tr>
                                <tr class="order-total">
                                    <th><span class="title">Order total</span></th>
                                    <th class="right"><span class="title">£{{ total }}</span></th>
                                </tr>
                            </table>
                            <!-- Checkout -->
                            <div class="card-action my-5">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a href="{% url 'checkout' %}" class="btn btn-cyan-rounded btn-cyan-linear-bg checkout-btn">Secure checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <h6 class="title center">You have no items in your shopping cart</h6>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}