{% extends "base.html" %}
 
{% block content %}
<section class="profile" id="aboutUS">
    <div class="container">
        <!-- Heading -->
        <div class="row my-5">
            <div class="col s12">
                <h1 class="title center">About Us</h1>
            </div>
            <div class="col s12 my-5">
                <div class="divider"></div>
            </div>
        </div>
        <div class="row center mt-5">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p>
                    Here at Naturetrust, we aim to create a collaborative relationship between gaming companies and charitable
                    organisations in order to help our world, the ecosystem and the wildlife that inhabits it.
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p>
                    But wildlife and environmental charities are everywhere, so what makes us so unique? For starters, we don’t ask
                    you to blindly donate. Instead we ask you to use our platform to buy your games. For each game you purchase with
                    us, we will contribute 12% of its total price to one of our partnered charities. We even offer adoption packs
                    that you can purchase, and for them we contribute a whopping 70% to the associated charity.
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p>
                    But there’s something else that makes us stand out from the crowd! You may have noticed that we don’t offer any
                    big cat adoption packs. Our adoption packs may actually seem a little strange. That’s because we focus on
                    charities that go unnoticed by so many, despite how their work is incredibly important for sustaining the
                    environment. At Naturetrust, we trust in nature, and understand what animals and organisms are essential for
                    keeping our planet alive and healthy. That’s why we offer adoption packs for bees, sharks, and even plankton,
                    because we recognise that losing them could be detrimental for everyone living on Earth.
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p>
                    Even if you do not wish to buy from us today, please help us spread awareness to our cause, by sharing our
                    website and its information with family and friends, and help us make a contribution which could help our planet
                    thrive again!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}