{% extends "base.html" %}
 
{% block content %}
<section class="profile" id="contactUs">
    <div class="container">
        <!-- Heading -->
        <div class="row my-5">
            <div class="col s12">
                <h1 class="title center">Customer Service</h1>
            </div>
            <div class="col s12 my-5">
                <div class="divider"></div>
            </div>
        </div>
        <div class="row center mt-5">
            <div class="col s12 my-3">
                <h5 class="title">Security</h5>
            </div>
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p>
                    Your security is of paramount importance to us. All payment information and personal details are protected at all
                    times by the latest technology, so you can enjoy your purchase knowing your data is safe.
                </p>
            </div>
        </div>
        <div class="row mt-5 center">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p style="font-size: 18px;">
                    If you have any inquires and/or concerns then please do not hesitate to contact us on 
                    <span class="standard-text-link" style="letter-spacing: 2px;">support@naturetrust.com</span> and our lovely team will try their best to get back to you as soon as they can.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}