{% extends "base.html" %}
 
{% block content %}
    <section id="homePage">
        <div class="parallax-container" id="firstParallax">
            <div class="parallax">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img1.jpg" alt="A turtle swimming in the ocean" class="responsive-img">
            </div>
            <div class="parallax-title title"><h1>NatureTrust</h1></div>
            <div class="parallax-title title">
                <h4>
                    In partnership with:
                    <br>
                    Rockstar
                    <br>
                    Frontier
                </h4>
            </div>
        </div>
        <div class="section">
            <div class="row container">
                <p class="center">
                    Here at Naturetrust, we aim to create a collaborative relationship between gaming companies and charitable
                    organisations in order to help our world, the ecosystem and the wildlife that inhabits it. At Naturetrust, we trust
                    in nature, and understand what animals and organisms are essential for keeping our planet alive and healthy. That’s
                    why we offer adoption packs for bees, sharks, and even plankton, because we recognise that losing them could be
                    detrimental for everyone living on Earth.
                </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img2.jpg" alt="A bird's-eye view of a forest and oasis" class="responsive-img">
            </div>
            <div class="parallax-title title"><h2>Save our ecosystem by saving the wildlife we share it with</h2></div>
        </div>
        <div class="section">
            <div class="row container">
                <p class="center">
                    For each game you purchase with us, we will contribute 12% of its total price to one of our partnered charities. We
                    even offer adoption packs that you can purchase, and for them we contribute a whopping 70% to the associated
                    charity. Have a browse, and buy something today to make your contribute to Mother Earth!
                </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img3.jpg" alt="Holding a baby plant and soil in a pair of hands" class="responsive-img">
            </div>
            <div class="parallax-title title center">
            <h2>Make your purchases with us to help repair our world</h2>
                <div class="row">
                    <div class="col s12 m6 l5 offset-l1 xl4 offset-xl2 mt-5">
                        <a href="{% url 'adoptions' %}" class="btn purchase-btn btn-folded-corners">Adopt</a>
                    </div>
                    <div class="col s12 m6 l5 xl4 mt-5">
                        <a href="{% url 'games' %}" class="btn purchase-btn btn-folded-corners">Buy Games</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}