{% extends "base.html" %}
 
{% block content %}
    <div class="parallax-container" id="firstParallax">
        <div class="parallax">
            <div class="img-overlay"></div>
            <img src="{{ MEDIA_URL }}img1.jpg" alt="A turtle swimming in the ocean" class="responsive-img">
        </div>
        <div class="parallax-title title"><h1>NatureTrust</h1></div>
        <div class="parallax-title title">
            <h4>
                In partnership with:
                <br>
                Rockstar
                <br>
                Frontier
            </h4>
        </div>
    </div>
    <div class="section">
        <div class="row container">
            <p class="center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi obcaecati doloribus repellendus inventore
                eligendi velit, nostrum vitae illo deleniti, suscipit consectetur doloremque nulla distinctio nisi sed quo! Cumque,
                iusto.
                Ea veritatis eum ex perspiciatis reiciendis sint quae et incidunt aliquid in ipsum saepe commodi illum officiis qui
                fugiat, voluptates nulla odit, illo reprehenderit? In illo nihil accusantium. Sapiente, placeat.
                Aliquid ea consectetur placeat id numquam ipsam, ex perferendis voluptatibus quisquam hic facere odio facilis
                excepturi neque officiis perspiciatis repudiandae laboriosam distinctio repellendus! Maiores inventore enim impedit
                quos dolorum accusantium?
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <div class="img-overlay"></div>
            <img src="{{ MEDIA_URL }}img2.jpg" alt="A bird's-eye view of a forest and oasis" class="responsive-img">
        </div>
        <div class="parallax-title title"><h2>Save our ecosystem by saving the wildlife we share it with</h2></div>
    </div>
    <div class="section">
        <div class="row container">
            <p class="center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi obcaecati doloribus repellendus inventore eligendi velit, nostrum vitae illo deleniti, suscipit consectetur doloremque nulla distinctio nisi sed quo! Cumque, iusto.
                Ea veritatis eum ex perspiciatis reiciendis sint quae et incidunt aliquid in ipsum saepe commodi illum officiis qui fugiat, voluptates nulla odit, illo reprehenderit? In illo nihil accusantium. Sapiente, placeat.
                Aliquid ea consectetur placeat id numquam ipsam, ex perferendis voluptatibus quisquam hic facere odio facilis excepturi neque officiis perspiciatis repudiandae laboriosam distinctio repellendus! Maiores inventore enim impedit quos dolorum accusantium?
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <div class="img-overlay"></div>
            <img src="{{ MEDIA_URL }}img3.jpg" alt="Holding a baby plant and soil in a pair of hands" class="responsive-img">
        </div>
        <div class="parallax-title title center">
            <h2>Make your purchases with us to help repair our world</h2>
            <a href="#!" class="btn purchase-btn btn-folded-corners">Buy Now</a>
        </div>
    </div>
{% endblock %}