{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% block content %}

    {% include 'profiles/includes/profile-nav.html' %}

    <section class="profile" id="Profile">
        <div class="container my-5">
            <!-- Heading -->
            <div class="row">
                <div class="col s12">
                    <h1 class="title center">My Profile</h1>
                </div>
                <div class="col s12">
                    <div class="divider"></div>
                </div>
            </div>
    
            <!-- Account info -->
            <div class="row mt-5">
                <div class="col s12">
                    <h5 class="title">Account Information</h5>
                </div>
            </div>
    
            <!-- Contact information -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card" style="background-color: #000;">
                        <div class="card-content center">
                            <div class="row">
                                <div class="col s12">
                                    <span class="card-title title center">Contact information</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                                </div>
                                <div class="col s12">
                                    <p>{{ profile.user.email }}</p>
                                </div>
                                <div class="col s12">
                                    {% for field in form %}
                                        {% if field.name == 'default_phone_number' %}
                                            <p>{{ field.value|default_if_none:"" }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row center">
                                <div class="col s12">
                                    <a href="{% url 'profile_form' %}" class="btn btn-cyan-rounded">Edit Information</a>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <a href="{% url 'account_change_password' %}" class="btn btn-cyan-rounded">Change password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col s12">
                    <h5 class="title">Address Book</h5>
                </div>
            </div>
    
            <!-- Address book -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card" style="background-color: #000;">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <span class="card-title title center">Billing Address</span>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                                </div>
                                <div class="col s12">
                                    {% for field in form %}
                                        {% if field.name != 'default_phone_number' %}
                                            <p>{{ field.value|default_if_none:"" }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row center">
                                <div class="col s12">
                                    <a href="{% url 'profile_form' %}" class="btn btn-cyan-rounded">Change Address</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card" style="background-color: #000;">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <span class="card-title title center">Shipping Address</span>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                                </div>
                                <div class="col s12">
                                    {% for field in form %}
                                        {% if field.name != 'default_phone_number' %}
                                            <p>{{ field.value|default_if_none:"" }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row center">
                                <div class="col s12">
                                    <a href="{% url 'profile_form' %}" class="btn btn-cyan-rounded">Change Address</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for order in orders %}
                {% for item in order.lineitems.all %}
                    {{ order.game }}
                {% endfor %}
            {% endfor %}

            <!-- Games purchased -->
            <div class="row mt-5">
                <div class="col s12 mt-5">
                    <h3 class="title center">Games purchased</h3>
                </div>
                <div class="col s12">
                    <div class="divider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <table>
                        {% if orders %}
                            {% for order in orders %}
                                {% for item in order.lineitems.all %}
                                    {% if item.product.game %}
                                        <tr class="order-details-img">
                                            <!-- Order Image -->
                                            <th class="order-image">
                                                <div class="card-panel">
                                                    <div class="row">
                                                        <div class="col s12 center">
                                                            {% with item.product.game as edition %}
                                                                {% if edition.image %}
                                                                    <img src="{{ edition.image.url }}" alt="{{ edition.friendly_name_full }}">
                                                                {% else %}
                                                                    <img src="{{ edition.game.image.url }}" alt="{{ edition.friendly_name }}">
                                                                {% endif %}
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                </div>        
                                            </th>
                                            <!-- Product details -->
                                            <th class="order-details">
                                                <div class="card-panel">
                                                    <div class="row">
                                                        <div class="col s12 py-2">
                                                            <p>
                                                                <strong>
                                                                    {% with item.product.game as edition %}
                                                                        {{ edition.friendly_name_full }}
                                                                    {% endwith %}
                                                                </strong>
                                                            </p>
                                                            <p><strong>Date ordered:</strong> {{ order.date }}</p>
                    
                                                            {% with item.product.game as edition %}
                                                                <p><strong>Product number:</strong> {{ edition.sku }}</p>
                                                            {% endwith %}
                    
                                                            <p><strong>Qty:</strong> {{ item.quantity }}</p>
                                                            <p><strong>£{{ item.lineitem_total }}</strong></p>

                                                            <div class="divider"></div>
                                                            
                                                            {% with item.product.game as edition %}
                                                                <p>{{ edition.desc|slice:":325" }}...</p>
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    {% else %}
                                        <div class="row my-5">
                                            <div class="col s12 center">
                                                <span class="title">You haven't purchased any games yet</span>
                                            </div>
                                            <div class="col s12 mt-5">
                                                <a href="{% url 'buy_game' game.url_name %}" class="btn purchase-btn btn-folded-corners">Buy Games</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <div class="row my-5">
                                <div class="col s12 center">
                                    <span class="title">You haven't purchased any games yet</span>
                                </div>
                                <div class="col s12 mt-5">
                                    <a href="{% url 'games' %}" class="btn purchase-btn btn-folded-corners">Buy Games</a>
                                </div>
                            </div>
                        {% endif %}
                    </table>
                </div>
            </div>
            
            <!-- Adoptions purchased -->
            <div class="row mt-5">
                <div class="col s12 mt-5">
                    <h3 class="title center">Animals Adopted</h3>
                </div>
                <div class="col s12">
                    <div class="divider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <table>
                        {% if orders %}
                            {% for order in orders %}
                                {% for item in order.lineitems.all %}
                                    {% if item.product.adoption %}
                                        <tr class="order-details-img">
                                            <!-- Order Image -->
                                            <th class="order-image">
                                                <div class="card-panel">
                                                    <div class="row">
                                                        <div class="col s12 center">
                                                            {% with item.product.adoption as package %}
                                                                {% if package.image %}
                                                                    <img src="{{ package.image.url }}" alt="{{ package.friendly_name_full }}">
                                                                {% else %}
                                                                    <img src="{{ package.adoption.image.url }}" alt="{{ package.friendly_name }}">
                                                                {% endif %}
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                </div>        
                                            </th>
                                            <!-- Product details -->
                                            <th class="order-details">
                                                <div class="card-panel">
                                                    <div class="row">
                                                        <div class="col s12 py-2">
                                                            <p>
                                                                <strong>
                                                                    {% with item.product.adoption as package %}
                                                                    {{ package.adoption.animal }} {{ package.friendly_name }}
                                                                    {% endwith %}
                                                                </strong>
                                                            </p>
                                                            <p><strong>Date ordered:</strong> {{ order.date }}</p>
                    
                                                            {% with item.product.adoption as package %}
                                                                <p><strong>Product number:</strong> {{ package.sku }}</p>
                                                            {% endwith %}
                    
                                                            <p><strong>Qty:</strong> {{ item.quantity }}</p>
                                                            <p><strong>£{{ item.lineitem_total }}</strong></p>

                                                            <div class="divider"></div>
                                                            
                                                            {% with item.product.adoption as package %}
                                                                <p>{{ package.desc }}</p>
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    {% else %}
                                        <div class="row my-5">
                                            <div class="col s12 center">
                                                <span class="title">You haven't adopted any animals yet</span>
                                            </div>
                                            <div class="col s12 mt-5">
                                                <a href="{% url 'adoptions' %}" class="btn purchase-btn btn-folded-corners">Adopt Now</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <div class="row my-5">
                                <div class="col s12 center">
                                    <span class="title">You haven't adopted any animals yet</span>
                                </div>
                                <div class="col s12 mt-5">
                                    <a href="{% url 'adoptions' %}" class="btn purchase-btn btn-folded-corners">Adopt Now</a>
                                </div>
                            </div>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Fix table height values
        $(document).ready(function() {
            var orderHeight = $('.order-details').height()
            var height = orderHeight + 10
            $('.order-image .card-panel').css('height', `${height}px`);
            $('.order-details .card-panel').css('height', `${height}px`);

            $('.order-details-img').css('height', `${height + 35}px`);
        });
    </script>
{% endblock %}