/* ==========================================================================
BASE STYLES
========================================================================== */

* {
    margin: 0;
    padding: 0;
}

body {
    color: #FFFFFF;
    background-color: #112A49;  /* fallback color */

    /*
        Colour gradients were taken or based upon the following source:
        'https://cssgradient.io/gradient-backgrounds/' 
    */

    background: linear-gradient( to bottom,  #537895 25%, #09203F 85% ) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* ======================================================
Global styles
====================================================== */

p {
    font-family: 'Univers Condensed', sans-serif, serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.title {
    font-family: 'Chinese Rocks', Times, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0 15px;
}

br {
    margin-top: 10px;
}

.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-5 {
    margin-top: 50px;
}

/* The following code to add folded corners to the button:
'https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m' */

.btn-folded-corners {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 20px 25px;
    position: relative;
    margin: 0 auto;
    /* I used the following clip-path generator to get the desired look:
    'https://www.cssportal.com/css-clip-path-generator/' */
    clip-path: polygon(10% 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
}

.btn-folded-corners__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

.purchase-btn {
    width: 225px;
    height: 55px;
    font-family: 'Chinese Rocks', Times, serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FF003C;
    color: #FFFFFF;
}

#shopping-cart-icon {
    width: 22px;
    height: 22px;
}

/* I used the following source to add a border to the clip-path element:
'https://stackoverflow.com/questions/31854185/how-to-add-border-in-my-clip-path-polygon-css-style' */

.btn-cyan.btn-folded-corners .border-hack {
    position: absolute;
    top: 2px; /* equal to border thickness */
    left: 2px; /* equal to border thickness */
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    clip-path: polygon(10% 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);

    background-color: #42AFAA;  /* fallback color */
    background-image: linear-gradient(to right, #42AFAA 0%, #18385E  51%, #42AFAA  100%);
    background-image: linear-gradient(to right, #18385E 0%, #42AFAA  51%, #18385E  100%);
    background-size: 200% auto;
}

.btn-cyan {
    background-color: #8BE8E3;
}

.btn-cyan.btn-folded-corners .btn-text {
    font-family: 'Chinese Rocks', Times, serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 50;
}

/* ======================================================
Navbar styles
====================================================== */

nav {
    color: #FFFFFF;
    background-color: rgba(24, 24, 24, 0);
    box-shadow: none;
}

.purchase-btn-list-item {
    height: 64px;
}

#nav-purchase-btn {
    width: 165px;
    height: 35px;
    margin: 12px auto;
    font-size: 22px;
}

/* ======================================================
Parallax and image styles
====================================================== */

#firstParallax {
    height: 80vh;
}

.parallax-container {
    height: 65vh;
}

.parallax img {
    object-fit: cover;
    opacity: 1 !important;
}

.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 35%);
    z-index: 1;
}

/* ======================================================
Games page styles
====================================================== */

.game-img-container {
    position: relative;
    width: 435px;
    height: 425px;
    margin: auto;
    cursor: pointer;
}

.game-page-img {
    display: block;
    width: 435px;
    height: 425px;
    object-fit: cover;
}

.game-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-folded-corners.img-overlay-btn {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
}

/* The following code is based upon this source:
'https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slideleft' */

.game-img-overlay {
    width: 0;
    transition: .8s ease;
    overflow: hidden;
}

.game-img-container:hover .game-img-overlay {
    width: 35%;
}

.game-img-overlay .btn-text {
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-cyan.btn-folded-corners.img-overlay-btn .border-hack {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
}

.game-details-btn {
    width: 165px;
    height: 45px;
}

/* ======================================================
Game details styles
====================================================== */

.game-details-img {
    width: 325px;
    height: 395px;
    object-fit: cover;
}

.select-edition {
    text-align: left;
    margin-left: 0;
}

.edition-btn {
    width: 375px;
    height: 30px;
    margin: 5px auto;
    margin-left: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
}

.edition-btn .btn-text {
    position: absolute;
    left: 15px;
    font-family: 'SFCovington' !important;
    font-size: 18px !important;
    letter-spacing: 1px !important;
    text-transform: none !important;
}

.btn-cyan.btn-folded-corners.edition-btn .border-hack {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
}

#gameDetails h4 {
    margin-bottom: 0;
}

.cover-and-editions h6 {
    font-family: 'SFCovington';
    letter-spacing: 1px;
    padding-left: 15px;
}

.helper-text {
    margin-top: 10px;
}

/* ==========================================================================
MEDIA QUERIES FOR RESPONSIVE DESIGN
========================================================================== */

/* ======================================================
RESPONSIVE STYLES FOR LARGER SCREENS
====================================================== */

@media (min-width: 1920px) {
    /* Games page styles
    =========================== */
    .game-img-container {
        width: 635px;
        height: 625px;
    }
    .game-page-img {
        width: 635px;
        height: 625px;
        object-fit: cover;
    }
}

@media (min-width: 1420px) and (max-width: 1920px) {
    /* Games page styles
    =========================== */
    .game-img-container {
        width: 535px;
        height: 525px;
    }
    .game-page-img {
        width: 535px;
        height: 525px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    /* Home parallax styles
    =========================== */
    .parallax-title {
        margin: 75px 60px 25px;
    }
    #firstParallax .parallax-title {
        margin-bottom: 0;
    }
    #firstParallax .parallax-title:nth-child(3) {
        margin-top: 0;
    }
    .parallax-title h1,
    .parallax-title h2,
    .parallax-title h4 {
        width: 50%;
        margin: 15px auto;
    }
    #firstParallax .parallax-title h1,
    #firstParallax .parallax-title h4 {
        margin-left: 0;
    }
    .parallax-title.right h2 {
        margin-right: 0;
    }
    /* Game details styles
    =========================== */
    .cover-and-editions .col.l5 {
        text-align: right;
    }
    .game-details-img {
        width: 385px;
        height: 575px;
        object-fit: cover;
    }
    .edition-btn {
        width: 375px;
        height: 30px;
        margin: 5px auto;
        margin-left: 15px;
    }
    .buy-game .purchase-btn {
        margin-left: 0;
    }
    .cover-and-editions .purchase-btn {
        width: 370px;
        clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 55%, 90% 100%, 30% 100%, 0 100%, 0 50%);
    }
    #gameDetails .divider {
        width: 80%;
        margin: auto;
    }
    .helper-text {
        width: 380px !important;
        padding: 0 !important;
    }
}

/* ======================================================
RESPONSIVE STYLES FOR SMALLER SCREENS
====================================================== */

@media (max-width: 992px) {
    /* Global styles
    =========================== */
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 38px;
    }
    h4 {
        font-size: 22px;
    }
    /* Home parallax styles
    =========================== */
    .parallax-title {
        margin: 35px auto;
        text-align: center;
    }
    /* Games page styles
    =========================== */
    #allGames .col.s12.l6.xl5 {
        margin-top: 50px;
    }
    #allGames .title {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* Game details styles
    =========================== */
    #gameDetails {
        text-align: center;
        margin: auto;
    }
    #gameDetails h4 {
        font-size: 22px;
        margin-top: 35px;
        margin-bottom: 0;
    }
    .select-edition {
        text-align: center;
    }
    .select-edition .btn {
        margin: 10px auto;
    }
    #gameDetails .divider {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 645px) {
    /* Games page styles
    =========================== */
    .game-img-container {
        width: 315px;
        height: 305px;
    }
    .game-page-img {
        width: 315px;
        height: 305px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    /* Navbar styles
    =========================== */
    #nav-purchase-btn {
        margin: 8px auto;
    }
}

@media (max-width: 400px) {
    /* Game details styles
    =========================== */
    .edition-btn {
        width: 325px;
        height: 30px;
    }
}

@media (max-width: 345px) {
    /* Games page styles
    =========================== */
    .game-img-container {
        width: 265px;
        height: 260px;
    }
    .game-page-img {
        width: 265px;
        height: 260px;
        object-fit: cover;
    }
    /* Game details styles
    =========================== */
    .edition-btn {
        width: 275px;
        height: 30px;
    }
    .game-details-img {
        width: 285px;
        height: 345px;
        object-fit: cover;
    }
}

@media (max-width: 305px) {
    /* Game details styles
    =========================== */
    .game-details-img {
        width: 265px;
        height: 345px;
        object-fit: cover;
    }
}