<!-- Profile nav -->
<nav id="profileNav">
    <div class="nav-wrapper">
        <div class="container center">
            <a href="{% url 'profile' %}" class="btn-large btn-purple"><i class="material-icons left" style="max-height: 54px; line-height: 54px;">cloud</i> My Profile</a>
            <a href="{% url 'user_orders' %}" class="btn-large btn-purple"><i class="material-icons left" style="max-height: 54px; line-height: 54px;">cloud</i> My Orders</a>
            <a href="{% url 'profile_games' %}" class="btn-large btn-purple"><i class="material-icons left" style="max-height: 54px; line-height: 54px;">cloud</i> My Games</a>
            <a href="{% url 'profile_adoptions' %}" class="btn-large btn-purple"><i class="material-icons left" style="max-height: 54px; line-height: 54px;">cloud</i> My Adoptions</a>
        </div>
    </div>
</nav>