{% extends "base.html" %}

{% block content %}
        <section id="allGames">
            <div class="row my-5">
                <div class="col s12 center">
                    <h1 class="title">Games</h1>
                </div>
            </div>
            <div class="row my-5">
                {% for game in games %}
                    <div class="col s12 l6 xl5 {% if not forloop.counter|divisibleby:2 %}offset-xl1{% endif %}">
                        <!-- Game cover -->
                        <div class="game-img-container">
                            <a href="{% url 'game_details' game.url_name %}">
                                {% if game.image %}
                                    <img src="{{ game.image.url }}" alt="{{ game.name }}"
                                    class="game-page-img"></a>
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ game.name }}"
                                    class="game-page-img"></a>
                                {% endif %}
                            <div class="game-img-overlay">
                                <a href="{% url 'game_details' game.url_name %}" class="btn btn-cyan img-overlay-btn btn-folded-corners">
                                    <span class="border-hack"></span>
                                    <span class="btn-text">Game Details</span>
                                </a>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="row mt-5">
                            <div class="col s12 hide-on-large-only">
                                <a href="{% url 'game_details' game.url_name %}" class="btn btn-cyan btn-folded-corners game-details-btn">
                                    <span class="border-hack"></span>
                                    <span class="btn-text">Game Details</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a href="{% url 'buy_game' game.url_name %}" class="btn purchase-btn btn-folded-corners">Buy Now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}