<ul class="sidenav sidenav-right" id="shoppingCartNav">
    <li><a href="#!" class="sidenav-close"><i class="material-icons white-text">close</i></a></li>
    <li class="my-5">
        <h4 class="title center">My Cart</h4>
    </li>
    <!-- Cart contents -->
    {% if cart_items %}
        {% for item in cart_items %}
            <li class="outer-cart-item">
                <div class="cart-item">
                    <div class="row" style="margin: 0;">
                        <!-- Item image -->
                        <div class="col s4 l3 item-img">
                            {% if item.edition.image %}
                                <img src="{{ item.edition.image.url }}" alt="{{ item.edition.friendly_name_full }}">
                            {% else %}
                                <img src="{{ item.edition.game.image.url }}" alt="{{ item.edition.friendly_name }}">
                            {% endif %}
                        </div>
                        <!-- Item details -->
                        <div class="col s8 l9 item-details">
                            <div class="row">
                                <div class="col s12 item-heading">
                                    <h6 class="title">{{ item.edition.friendly_name_full }}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p class="title">qty:</p>
                                </div>
                                <div class="col s8 qty-btn">
                                    <span class="decrement-qty"><i class="material-icons white-text">remove</i></span>
                                    <span class="qty-val">{{ item.quantity }}</span>
                                    <span class="increment-qty"><i class="material-icons white-text">add</i></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <h5 class="title price">£{{ item.edition.price }}</h5>
                                </div>
                                <div class="col s4 remove-item">
                                    <a href="#!"><i class="material-icons white-text">delete_forever</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li class="center">You have no items in your shopping cart</li>
    {% endif %}
    <!-- Footer -->
    <li class="sidenav-footer">
        <!-- Subtotal -->
        <div class="row">
            <div class="col s6">
                <h5 class="title">Subtotal</h5>
            </div>
            <div class="col s6">
                <h5 class="title right">£50.00</h5>
            </div>
        </div>
        <!-- View cart -->
        <a href="{% url 'view_cart' %}" class="btn btn-cyan-rounded">View Cart</a>
        <!-- Checkout -->
        <a href="#!" class="btn btn-cyan-rounded btn-cyan-linear-bg">Secure checkout</a>
    </li>
</ul>