<ul class="sidenav sidenav-right" id="shoppingCartNav">
    <li><a href="#!" class="sidenav-close"><i class="material-icons white-text">close</i></a></li>
    <li class="my-5">
        <h4 class="title center">My Cart <span style="font-size: 18px;">{{ product_count }} items</span></h4>
    </li>
    <!-- Cart contents -->
    <div class="cart-items">
        {% if cart_items %}
        {% for item in cart_items %}
            <li class="outer-cart-item">
                <div class="cart-item">
                    <div class="row" style="margin: 0;">
                        <!-- Item image -->
                        <div class="col s4 l3 item-img">
                            {% if 'game' in item.product_type  %}
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                {% else %}
                                    <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                {% endif %}
                            {% elif 'adoption in item.product_type' %}
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name_full }}">
                                {% else %}
                                    <img src="{{ item.product.game.image.url }}" alt="{{ item.product.friendly_name }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <!-- Item details -->
                        <div class="col s8 l9 item-details">
                            <div class="row">
                                <div class="col s12 item-heading">
                                        <h6 class="title">
                                            {% if 'game' in item.product_type  %}
                                                {{ item.product.friendly_name_full }}
                                            {% elif 'adoption in item.product_type' %}
                                                {{ item.product.adoption.animal }} {{ item.product.friendly_name }}
                                            {% endif %}
                                        </h6>
                                </div>
                            </div>
                            <!-- Update item quantity -->
                            <form action="{% url 'update_cart' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <input type="hidden" name="product_type" value="{% if 'game' in item.product_type %}game{% else %}adoption{% endif %}"
                                id="productType_{{ item.item_id }}">
                                <div class="row">
                                    <div class="col s12" style="height: 32px;">
                                        <p class="title">qty:</p>
                                    </div>
                                    <!-- Quantity buttons -->
                                    <div class="col s8 l6 qty-btn">
                                        <div class="row">
                                            <div class="col s1 l2" style="padding-left: 0;">
                                                <button type="button" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" class="decrement-qty">
                                                    <i class="material-icons white-text">remove</i>
                                                </button>
                                            </div>
                                            <div class="col s4 offset-s2 l5">
                                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id-qty_{{ item.item_id }}" class="qty-val" readonly>
                                            </div>
                                            <div class="col s1 l2">
                                                <button type="button" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" class="increment-qty">
                                                    <i class="material-icons white-text">add</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Update quantity -->
                                    <div class="col l6">
                                        <button type="submit" class="btn btn-green update-qty" id="updateQtyNav-{{ item.item_id }}">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- Item price and remove button -->
                            <div class="row">
                                <!-- Price -->
                                <div class="col s6">
                                    <h5 class="title price">£{{ item.product.price }}</h5>
                                </div>
                                <!-- Remove item -->
                                <div class="col s4 remove-item">
                                    <a href="#!" class="remove-item-from-cart" id="remove_{{ item.item_id }}"><i class="material-icons white-text">delete_forever</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li class="center">You have no items in your shopping cart</li>
    {% endif %}
    </div>
    <!-- Footer -->
    <li class="sidenav-footer">
        <!-- Subtotal -->
        <div class="row">
            <div class="col s6">
                <h5 class="title">Subtotal</h5>
            </div>
            <div class="col s6">
                <h5 class="title right">£{{ total }}</h5>
            </div>
        </div>
        <!-- View cart -->
        <a href="{% url 'view_cart' %}" class="btn btn-cyan-rounded">View Cart</a>
        <!-- Checkout -->
        <a href="{% url 'checkout' %}" class="btn btn-cyan-rounded btn-cyan-linear-bg">Secure checkout</a>
    </li>
</ul>