{% extends "account/base.html" %}

{% load i18n %}
{% load materializecss %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="title center my-5">{% trans "Change Password" %}</h1>

    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="divider"></div>
        </div>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <div class="row my-5">
            <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3">
                <fieldset class="password-change">
                    <legend class="title center">Password Reset</legend>
                    <div class="row">
                        {{ form | materializecss }}
                    </div>
                    <div class="row mt-5">
                        <div class="col s12 center">
                            <button type="submit" name="action" class="account-btn btn btn-cyan-rounded btn-cyan-linear-bg">
                                {% trans "Change Password" %}
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock %}
