{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1 class="title center my-5">{% trans "Verify Your E-mail Address" %}</h1>

    <div class="row my-5">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <p class="center" style="font-size: 18px; text-transform: uppercase;">
                {% blocktrans %}We have sent an e-mail to you
                for verification. Follow the link provided to finalize the signup process. Please contact us if you do not
                receive it within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>

{% endblock %}
