{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom fonts -->
    <link rel="stylesheet" href="{% static 'css/custom-fonts.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    {% block extra_css %}
    {% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Initialize Materialize -->
    <script src="{% static 'js/materialize.js' %}" type="text/javascript"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% block extra_js %}
    {% endblock %}

    <title>NatureTrust {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="sidenav-main" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="brand-logo title hide-on-med-and-down">NatureTrust</a>
                <ul class="right">
                    <li class="games-btn"><a href="{% url 'games' %}" class="btn purchase-btn btn-folded-corners" id="nav-purchase-btn">Buy Games</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"  style="max-height: 64px;">
                            <img src="{{ MEDIA_URL }}icons/profile.svg" alt="User Profile icon" id="profile-icon">
                        </a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">
                            <img src="{{ MEDIA_URL }}icons/user.svg" alt="User Profile icon" id="sign-in-icon">
                        </a></li>
                    {% endif %}
                    <li><a href="#shoppingCartNav" class="sidenav-trigger show-on-large" style="margin-left: 0;">
                        <img src="{{ MEDIA_URL }}icons/shopping-cart.svg" alt="Shopping cart icon" id="shopping-cart-icon">
                    </a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="sidenav-main">
            <li><a href="#!" class="sidenav-close"><i class="material-icons white-text">close</i></a></li>
            <li><h4 class="title">NatureTrust</h4></li>
            <li class="title"><a href="{% url 'games' %}">Buy Games</a></li>
            <li class="title"><a href="#!">About Us</a></li>
            <li class="title"><a href="{% url 'adoptions' %}">Adoption Packs</a></li>
            <li class="title"><a href="#!">Contact Us</a></li>
        </ul>
        {% include 'includes/cart-nav.html' %}
    </header>

    <!-- Toasts messages -->
    {% include 'includes/toasts/messages.html' %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
        {{ block.super }}
        <script src="{% static 'js/cart-qty.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // Remove item from cart
                $('.remove-item-from-cart').on('click', function(e) {

                    var csrfToken = "{{ csrf_token }}";
                    var itemId = $(this).attr('id').split('remove_')[1];

                    var productType = $(`#productType_${itemId}`).val()

                    var url = `/cart/remove/${itemId}/`;
                    var data = {'csrfmiddlewaretoken': csrfToken, 'product_type': productType}

                    $.post(url, data)
                    .done(function() {
                        location.reload();
                    });
                });
            })
        </script>
    {% endblock %}
</body>
</html> 