{% extends "base.html" %}

{% block content %}
        <section id="allAdoptions">
            <div class="row my-3">
                <div class="col s12 center">
                    <h1 class="title">Adopt An Animal</h1>
                </div>
            </div>
            <!-- About -->
            <div class="row center about">
                <div class="col s12 m10 offset-m1 my-5">
                    <div class="divider"></div>
                </div>
                <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 mb-5">
                    <p>
                        Here at Naturetrust, we aim to create a collaborative relationship between gaming companies and charitable
                        organisations in order to help our world, the ecosystem and the wildlife that inhabits it. When you purchase an
                        adoption pack we will contribute a whopping 70% to the associated charity.
                    </p>
                    <br>
                    <p>
                        You may have noticed that we don’t offer any
                        big cat adoption packs. Our adoption packs may actually seem a little strange. That’s because we focus on
                        charities that go unnoticed by so many, despite how their work is incredibly important for sustaining the
                        environment. At Naturetrust, we trust in nature, and understand what animals and organisms are essential for
                        keeping our planet alive and healthy. That’s why we offer adoption packs for bees, sharks, and even plankton,
                        because we recognise that losing them could be detrimental for everyone living on Earth.
                    </p>
                </div>
            </div>
            <!-- Adoption packs -->
            <div class="row my-5">
                {% for animal in adoptions %}
                    <div class="col s12 m6">
                        <div class="card">
                            <h4 class="card-title title center">{{ animal.animal_plural }}</h4>
                            <div class="card-image">
                                <div class="contrast-card"></div>
                                <div class="img-card">
                                    <a href="{% url 'adopt' animal.animal %}">
                                        <img src="{{ animal.image.url }}" alt="{{ animal.animal }}">
                                    </a>
                                </div>
                            </div>
                            <div class="card-content">
                                <p class="center">{{ animal.desc }}</p>
                            </div>
                        <div class="card-action">
                                <div class="row">
                                    <div class="col s5">
                                        <a href="{% url 'adopt' animal.animal %}" class="text-link">More info</a>
                                    </div>
                                    <div class="col s7">
                                        <a href="{% url 'adopt' animal.animal %}" class="btn btn-cyan img-overlay-btn btn-folded-corners">
                                            <span class="border-hack"></span>
                                            <span class="btn-text">Adopt Now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}