{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="adoptAnimal">
    <div class="header-container">
        <!-- Adoption cover -->
        <div class="row">
            <div class="col s12 center hero-image">
                <div class="overlay"></div>
                {% if animal.image_header %}
                    <img src="{{ animal.image_header.url }}" alt="{{ animal.animal }}"
                    class="animal-details-img"></a>
                {% elif animal.image %}
                    <img src="{{ animal.image.url }}" alt="{{ animal.animal }}"
                    class="animal-details-img"></a>
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ animal.animal }}"
                    class="game-details-img"></a>
                {% endif %}
            </div>
        </div>
        <div class="row hero-text">
            <h4 class="title my-5">Purchase your adoption pack today</h4>
            <!-- See packages button -->
            <a href="#!" class="btn btn-cyan btn-folded-corners game-details-btn">
                <span class="border-hack"></span>
                <span class="btn-text">Compare Packages</span>
            </a>
        </div>
    </div>
    <div class="details-and-editions">
    <div class="divider my-5"></div>
        <!-- Adoption details -->
        <div class="row my-5">
            <div class="col s12">
                <h5 class="title center">
                    Adopt {% if animal.animal != 'plankton' %}a{% endif %} {{ animal.animal }} to help protect them and our ecosystem!
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>{{ animal.desc }}</p>
            </div>
        </div>
        <!-- Packages -->
        <div class="row" id="adoptionPackages">
            {% for package in packages %}
                {% if package.adoption == animal %}
                <div class="col s12 m6 l4">
                    <div class="card-panel" style="background-color: #04101B;">
                        <!-- Adoption cover -->
                        <div class="row">
                            <div class="col s12 center">
                                {% if package.image %}
                                    <img src="{{ package.image.url }}" alt="{{ animal.animal }}"
                                    class="game-details-img"></a>
                                {% elif animal.image %}
                                    <img src="{{ animal.image.url }}" alt="{{ animal.animal }}"
                                    class="game-details-img"></a>
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ animal.animal }}"
                                    class="game-details-img"></a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Package name -->
                        <div class="row">
                            <div class="col s12 center">
                                <h5 class="title">{{ package.pk }} {{ package.friendly_name }}</h5>
                            </div>
                        </div>
                        <!-- Package details -->
                        <div class="row">
                            <div class="col s12 center">
                                <p>{{ package.desc }}</p>
                            </div>
                        </div>
                        <!-- Buy Package -->
                        <form action="{% url 'add_to_cart' package.sku %}" method="POST" class="update-cart">
                            {% csrf_token %}
                            <!-- The quantity is 1 by default-->
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="product_type" value="adoption">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <div class="row">
                                <div class="col s12">
                                    <button type="submit" value="Buy Now" class="btn purchase-btn btn-folded-corners">Buy Now <span>£{{ package.price }}</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}